* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%
}

body {
  font-size: 0;
}

.form {
  width: 27.9rem;
  height: 33rem;
  background-color: green;
  background-color: rgb(95, 180, 98);
  margin: auto;
  margin-top: 2rem;
}

.form__operator {
  width: 25%;
  height: 20%;
  background-color: rgb(128, 193, 128);
  border: .5px solid rgba(255, 255, 255, .25);
  float:left;
  font-size: 2.25;
  color: rgb(0, 0, 0);
  font-weight: 100;
  text-align: center;
  padding-top: .5rem;
}

.form__digitButton {
  width: 25%;
  height: 20%;
  background-color: rgb(128, 193, 128);
  border: .5px solid rgba(255, 255, 255, .25);
  float:left;
  font-size: 2.25;
  color: rgb(0, 0, 0);
  font-weight: 100;
  text-align: center;
  padding-top: .5rem;
}

.form__operator:hover {
  color: rgb(255, 255, 255);
}

.form__clear {
  width: 25%;
  height: 20%;
  background-color: rgb(128, 193, 128);
  border: .5px solid rgba(255, 255, 255, .25);
  float:left;
  font-size: 2.25;
  color: rgb(0, 0, 0);
  font-weight: 100;
  text-align: center;
  padding-top: .5rem;
}

.form__clear:hover {
  background-color: rgb( 128, 193, 128);
}

.form__output {
  width: 75%;
  height: 20%;
  border: 1px solid rgba(255, 255, 255, .25);
  float:left;
  font-size: 2.25;
  color: rgb(255, 255,255);
  font-weight: 100;
  text-align: right;
  padding-top: 1.75rem;
  padding-right: 2rem;
}
